
<div class='container'>
  <h1>Ripple Gateway Admin</h1>
  <hr/>

  <div class='row col-md-12'>

    <div class='col-md-4'>
      <h2>History</h2>
    </div>

    <div class='col-md-4'>
      <h2>Withdrawals</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>External Account</th>
              <th>Currency</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="withdrawal in pendingWithdrawals">
              <td>{{ withdrawal.id }}</td>
              <td>{{ withdrawal.external_account_id }}</td>
              <td>{{ withdrawal.currency }}</td>
              <td>{{ withdrawal.amount }}</td>
              <td><button ng-click="clearWithdrawal(withdrawal.id)" class='clearWithdrawal'>Clear Withdrawal</button></td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class='col-md-4'>
      <h2>Deposit</h2>
      <h4 class='margin-top-large'>Make Deposit</h4>
      <hr/>
      <form ng-submit="recordDeposit()">
        <p>
          <label for='username'>Name: </label>
          <input type='text' name='username' ng-model="deposit.username"></input>
        </p>
        <p>
          <label for='currency'>Currency: </label>
          <select name='currency' ng-model="deposit.currency" style='width:180px'>
            <option ng-repeat='currency in currencies' 
                    value='{{currency}}'
                    style='width:155px'>
              {{ currency }}
            </option>
          </select>
        </p>
        <p>
          <label for='amount'>Amount: </label>
          <input name='amount' ng-model="deposit.amount" type='number'></input>
        </p>
        <p>
          <input type='submit' value='Submit'/>
        </p>
      </form>
    </div>
    
  </div>
</div>
