<div>

<div class="col-sm-4">
    <div class="row">
        <h4>Hot wallet balance</h4>
        <table class="table">
            <tr>
                <td>Currency</td>
                <td>Amount</td>
            </tr>
            <tr ng-repeat="balance in accountBalance">
                <td>{{balance.currency}}</td>
                <td>{{balance.value | number:2}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="col-sm-1"></div>
<div class="col-sm-4">
    <div class="row">
        <h4>Cold wallet balance</h4>
        <table class="table">
            <tr>
                <td>Currency</td>
                <td>Amount</td>
            </tr>
            <tr ng-repeat="balance in liabilities">
                <td>{{balance.currency}}</td>
                <td>{{balance.value | number:2}}</td>
            </tr>
        </table>
    </div>
</div>
<div class='col-sm-12' ng-hide='loading'>
    <h4 class="margin-top-large">Overview</h4>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>External Account Id</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Deposit?</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="transaction in externalTransactions | orderBy:orderProperty:reverse">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.external_account_id }}</td>
        <td>{{ transaction.currency }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.deposit }}</td>
        <td style="color: #aaa;">{{ transaction.createdAt | date:'short'}}</td>
      </tr>
    </tbody>
  </table>
    <div style='text-align:center; margin: 0 auto' ng-show="isLoading">
        <img class='throbber' src='/images/ripple_throbber.png'/>
    </div>
</div>

</div>
