<div class='container'>


<div class='col-sm-12' ng-hide='loading'>
    <h4 class="margin-top-large">Users</h4>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>

            <th>Independent Address</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-click='navigateToUser(user.id)' ng-repeat="user in users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.independent_address }}</td>
          </tr>
        </tbody>
      </table>
        <div style='text-align:center; margin: 0 auto;' ng-show="isLoading">
            <img class='throbber' src='/images/ripple_throbber.png'/>
        </div>
    </div>
</div>
