<div>
<div class='col-sm-12' ng-hide='loading'>
<h4 class="margin-top-large">Pending Withdrawals</h4>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>External Account Id</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="withdrawal in withdrawals">
        <td>{{ withdrawal.id }}</td>
        <td>{{ withdrawal.external_account_id }}</td>
        <td>{{ withdrawal.currency }}</td>
        <td>{{ withdrawal.amount }}</td>
          <td><button ng-click="clearWithdrawal(withdrawal.id)" class='btn btn-danger clearWithdrawal'>Clear Withdrawal</button></td>
        <td style="color: #aaa;">{{ withdrawal.createdAt | date:'short'}}</td>

      </tr>
    </tbody>
  </table>
  <div style='text-align:center; margin: 0 auto' ng-show="isLoading">
    <img class='throbber' src='/images/ripple_throbber.png'/>
  </div>
</div>

</div>
