<div>
  <form class='form-horizontal'>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>Amount</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='0.001'ng-model='transaction.amount' required>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>Currency</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='XRP' ng-model='transaction.currency' required>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>Deposit or Withdrawal?</label>
      <div class='col-xs-10'>
        <label class='radio-inline'>
          <input type='radio' name='inlineRadioOptions' ng-value='true' ng-model='transaction.deposit' required> Deposit
        </label>
        <label class='radio-inline'>
          <input type='radio' name='inlineRadioOptions' ng-value='false' ng-model='transaction.deposit'> Withdrawal
        </label>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>External Account ID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.external_account_id' required>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Status</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.status'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Ripple Transaction ID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.ripple_transaction_id'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>UID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.uid'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Data</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.data'>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-xs-offset-2 col-xs-10'>
        <button type='submit' class='btn btn-primary' ng-click='createExternalTransaction()' ng-show='creating'>Create External Transaction</button>
        <button type='submit' class='btn btn-warning' ng-click='updateExternalTransaction()' ng-show='!creating'>Update External Transaction</button>
      </div>
    </div>

    <div ng-switch='messageState'>
      <div class='alert alert-success' ng-switch-when='success'>
        <a href='#/database/external_transactions' class='close' data-dismiss='alert'>&times;</a>
        <strong>Success!</strong> {{ successMessage }}
      </div>

      <div class='alert alert-danger' ng-switch-when='error'>
        <a href='' class='close' data-dismiss='alert'>&times;</a>
        <strong>Error!</strong> {{ errorMessage }}
      </div>
    </div>

  </form>
</div>
