<div>
  <form class='form-horizontal'>

    <div class='form-group'>
      <label class='col-xs-2'>Name</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.name'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Type</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.type'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>User ID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.user_id'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>UID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.uid'>
      </div>
    </div>

    <div class='form-group' ng-switch='crudType'>
      <div class='col-xs-offset-2 col-xs-10'>
        <button type='submit' class='btn btn-primary' ng-click='submitCreate()' ng-switch-when='create'>Create KYC Datum</button>
        <button type='submit' class='btn btn-warning' ng-click='submitUpdate()' ng-switch-when='update'>Update KYC Datum</button>
      </div>
    </div>

  </form>
</div>
