<div>
  <form class='form-horizontal'>

  <!-- WHAT IS REQUIRED? -->

    <div class='form-group'>
      <label class='col-xs-2'>Name</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.name'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Type</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.type'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>User ID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.user_id'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>UID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.uid'>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-xs-offset-2 col-xs-10'>
        <button type='submit' class='btn btn-primary' ng-click='createKycDatum()' ng-show='creating'>Create KYC Datum</button>
        <button type='submit' class='btn btn-warning' ng-click='updateKycDatum()' ng-show='!creating'>Update KYC Datum</button>
      </div>
    </div>

    <div ng-switch='messageState'>
      <div class='alert alert-success' ng-switch-when='success'>
        <a href='#/database/kyc_data' class='close' data-dismiss='alert'>&times;</a>
        <strong>Success!</strong> {{ successMessage }}
      </div>

      <div class='alert alert-danger' ng-switch-when='error'>
        <a href='' class='close' data-dismiss='alert'>&times;</a>
        <strong>Error!</strong> {{ errorMessage }}
      </div>
    </div>

  </form>
</div>
