<div class='container'>
  <form class='form-horizontal' ng-submit='createKycDatum()'>

  <!-- WHAT IS REQUIRED? -->

    <div class='form-group'>
      <label class='col-xs-2'>Name</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.name'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Type</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.type'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>User ID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.user_id'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>UID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='datum.uid'>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-xs-offset-2 col-xs-10'>
        <button type='submit' class='btn btn-primary'>Create KYC Datum</button>
      </div>
    </div>

  </form>
</div>
