<div>
  <form class='form-horizontal'>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>External Account ID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='policy.external_account_id' required>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>Ripple Address ID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='policy.ripple_address_id' required>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Name</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='policy.name'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Fee</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='policy.fee'>
      </div>
    </div>

    <div class='form-group' ng-switch='crudType'>
      <div class='col-xs-offset-2 col-xs-10'>
        <button type='submit' class='btn btn-primary' ng-click='submitCreate()' ng-switch-when='create'>Create Policy</button>
        <button type='submit' class='btn btn-warning' ng-click='submitUpdate()' ng-submit-when='update'>Update Policy</button>
      </div>
    </div>

  </form>
</div>
