<div class='container'>
  <form class='form-horizontal'>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>To Address ID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder=''ng-model='transaction.to_address_id' required>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>From Address ID</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.from_address_id' required>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Transaction State</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.transaction_state'>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-xs-2'>Transaction Hash</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.hash'>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>To Amount</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='0.0001' ng-model='transaction.to_amount' required>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>To Currency</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='XRP' ng-model='transaction.to_currency' required>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>To Issuer</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.to_issuer' required>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>From Amount</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='0.0001' ng-model='transaction.from_amount' required>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>From Currency</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='XRP' ng-model='transaction.from_currency' required>
      </div>
    </div>

    <div class='form-group has-success'>
      <label class='col-xs-2 text-success'>From Issuer</label>
      <div class='col-xs-10'>
        <input type='text' class='form-control' placeholder='' ng-model='transaction.from_issuer' required>
      </div>
    </div>

    <div class='form-group'>
      <div class='col-xs-offset-2 col-xs-10'>
        <button type='submit' class='btn btn-primary' ng-click='createRippleTransaction()' ng-show='creating'>Create Ripple Transaction</button>
        <button type='submit' class='btn btn-warning' ng-click='updateRippleTransaction()' ng-show='!creating'>Update Ripple Transaction</button>
      </div>
    </div>

    <div ng-switch='messageState'>
      <div class='alert alert-success' ng-switch-when='success'>
        <a href='#/database/ripple_transactions' class='close' data-dismiss='alert'>&times;</a>
        <strong>Success!</strong> {{ successMessage }}
      </div>

      <div class='alert alert-danger' ng-switch-when='error'>
        <a href='' class='close' data-dismiss='alert'>&times;</a>
        <strong>Error!</strong> {{ errorMessage }}
      </div>
    </div>

  </form>
</div>
