html,
body,
.full-height {
  height: calc(100%);
}

.throbber {
  text-align:center;
  -webkit-animation: spin 0.7s infinite linear;
  -moz-animation: spin 0.7s infinite linear;
  -o-animation: spin 0.7s infinite linear;
  -ms-animation: spin 0.7s infinite linear;
}

a.active {
  color: #EBEBE8;
  background-color: #353535;
  border-color: transparent;
}

tr { opacity: 0.8 }
tr:hover {
  opacity: 1.0;
  cursor: pointer;
}

.sidebar {
  margin-top: 0;
  background-color: #f5f5f5;
}

.sidebar a {
}

.nav-sidebar {
  margin: 0 -15px 20px -15px;
}

.navbar-brand {
  padding-left: 0;
}

.navbar-brand .brand {
  color: #fff;
}

.navbar-header {
  float: left;
}

.navbar-nav {
  float: right;
}

.navbar-nav>li,
#main-menu>li {
  float: left;
  border: none;
}

.menu-primary {
  background-color: #00adbb;
}

.navbar-nav>li>a, #main-menu>li>a {
  line-height: 30px;
}
@media only screen and (min-width : 992px) {
  .navbar-brand {
    line-height: 38px;
  }

  .navbar-nav>li>a, #main-menu>li>a {
    color: rgba(255, 255, 255, 1.0);
  }
}
