.throbber {
  text-align:center;
  -webkit-animation: spin 0.7s infinite linear;
  -moz-animation: spin 0.7s infinite linear;
  -o-animation: spin 0.7s infinite linear;
  -ms-animation: spin 0.7s infinite linear;
}
a.active {
  color: #EBEBE8;
  background-color: #353535;
  border-color: transparent;
}
tr {
  opacity: 0.8
}
tr:hover {
  opacity: 1.0;
  cursor: pointer;
}
td {
  color: #999;
}
